In [9]:
import pandas as pd

In [3]:

df = pd.read_csv('submit/20200126T092716_e2.csv', index_col=0)

In [8]:
df.round().to_csv('submit/20200126T092716_e2_round.csv')

In [10]:
# df1 = pd.read_csv('submit/20200124T235635_0.4282313088575999.csv', index_col=0)
# df2 = pd.read_csv('submit/20200123T101217_0.5488672057787577.csv', index_col=0)
# df3 = pd.read_csv('submit/20200124T234826_0.5340496599674225.csv', index_col=0)


df1 = pd.read_csv('submit/e3.csv', index_col=0)
df2 = pd.read_csv('submit/e4.csv', index_col=0)

In [11]:
df_submit = pd.read_csv('input/sample_submission.csv', index_col=0)

In [12]:
for c in ['layer_1', 'layer_2', 'layer_3', 'layer_4']:
    df_submit[c] = (df1[c] + df2[c]) / 2

In [13]:
from datetime import datetime
ts = datetime.now().strftime('%Y%m%dT%H%M%S')
df_submit.to_csv(f'submit/{ts}_e5.csv')

In [14]:
df_submit

         layer_1     layer_2     layer_3     layer_4
id
0     254.424645  229.763345  131.570375   85.167407
1     158.798235  127.404355  237.399050   97.992535
2     148.089485  179.373990  273.062475  157.082055
3      91.881985  228.744875  189.282585   82.718120
4     273.904585  294.817270  244.825750  271.766480
...          ...         ...         ...         ...
9995  112.948500   95.870945   84.257098   54.896385
9996   79.453095  258.382760  125.139030  102.948730
9997   47.738778  256.597185  263.623390   28.688377
9998   29.861098   23.398052  145.767450   78.132110
9999  147.152390   17.621890   16.888663   81.722092

[10000 rows x 4 columns]